# Node.js
node_modules/

# Python
.venv/
venv/
__pycache__/
*.pyc

# Environment
.env
.env.*

# VS Code
.vscode/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# AI Dataset
ai-service/dataset/
ai-service/GARBAGE-CLASSIFICATION-3-2/
dataset/
GARBAGE-CLASSIFICATION-3-2/

# Model files
*.pt